nav {
 
  
  height: 50px;
  width: 100vw ;
  display: flex;
  justify-content: space-between;  /* Styles for your navbar, including positioning */
  background-color: #0f564e;
  padding: 4px 20px 4px 12px;
  color: #fff; /* Example text color */
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px #0A1828;
  align-items: center;
  
  
  

}
.icon {
  color: #d6e7dd;
  font-size: 120px;
  margin-top: 30px;
  margin-left: 40px;
  animation: glow 2s infinite alternate;
  transition: color 2s ease-in-out;
  }
 
ul {
 list-style-type: none;
 padding: 0;
 margin-right: 30px;
 }

 li {
  display: inline;
  margin-right: 20px;
  font-size: large;
  margin-right: 30px;
  color: #BFA181;
  transition: color 1s ease-in-out;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: glow 2s infinite alternate;
 }
 
 li:hover {
 text-decoration: underline;
 }
  