.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: #0A1828;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  background: "#ffffff"; /* Light blue gradient */
  position: relative;
}

.app-navbar {
  /* Styles for your navbar, including positioning */
  /* Example: */
  display: flex; /* Allow for horizontal layout */
  justify-content: space-between; /* Align items horizontally */
  padding: 1rem; /* Add some padding */
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
}




